{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Consulta de Pré-Clientes     
        <a href="{% url 'cadastro_precliente' %}" class="btn btn-success"><i class="fas fa-plus"></i> Adicionar</a> 
    </h2>

    <!-- Formulário de Filtros -->
    <div class="card mb-4">
        <div class="card-body">
            <form method="get">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" value="{{ filtros.nome }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" value="{{ filtros.cpf }}">
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a href="{% url 'consulta_preclientes' %}" class="btn btn-secondary">Limpar</a>
            </form>
        </div>
    </div>
    
    <!-- Tabela de Resultados -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Email</th>
                            <th>Data do cadastro</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for precliente in preclientes %}
                        <tr>
                            <td>{{ precliente.preclienteNome }}</td>
                            <td>{{ precliente.preclienteCpf }}</td>
                            <td>{{ precliente.precoclienteEmail }}</td>
                            <td>{{ precliente.preclienteDataCadastro }}</td>
                            <td>
                                
                                <a href="{% url 'editar_cliente' precliente.id %}" class="btn btn-sm btn-primary">Editar</a>
                                <a href="{% url 'detalhes_cliente' precliente.id %}" class="btn btn-sm btn-info">Detalhes</a>
                                <a href="{% url 'preencher_pdf' precliente.id %}" class="btn btn-sm btn-info">Criar Cliente</a>
                            
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9" class="text-center">Nenhum pré-cliente encontrado</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}