{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Detalhes do Condominio</h2>
                <div>
                    <a href="{% url 'editar_condominio' condominio.id %}" class="btn btn-primary">Editar</a>
                    <a href="{% url 'consulta_condominios'  %}" class="btn btn-secondary">Voltar</a>
                    <a href="{% url 'excluir_condominio' condominio.id %}" class="btn btn-danger">Excluir</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5>Informações do Condominio</h5>
                            <p><strong>Nome do Condominio:</strong> {{ condominio.condominionome }}</p>
                            <p><strong>Nome Comercial do Condominio:</strong> {{ condominio.condominionomecomercial }}</p>
                            <p><strong>Nome da Propriedade:</strong> {{ condominio.condominionomepropriedade }}</p>
                            <p><strong>CNPJ:</strong> {{ condominio.condominiocnpj }}</p>
                            <p><strong>IPTU:</strong> {{ condominio.condominiomatricula }}</p>
                            <p><strong>Endereço:</strong> {{ condominio.condominioendereco }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}